body{
    background-color: #ffffff;
    background:linear-gradient(to right,#ffffff,#ffffff);
}

.footer{
    width: 100%;
    height: 5em;
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 570;
}
p{
    font-family: "Poppins", sans-serif;
}
.selected{
    position: absolute;
    left: 93%;
    top: 19px;
    width: 3.2em;
    height: 3.2em;
    transition: 0.45s;
}
.selected:hover{
    transition: 0.45s;
}

.ham-menu {
    position: relative;
    width: 40px;
    height: 25px;
    cursor: pointer;
    left: 96%;
    top: 25px;
}

.ham-menu div {
    height: 5px;
    width: 40px;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    left: 0;
    transition: .3s ease;
}

.ham-menu1 {
    top: 0;
}

.ham-menu2 {
    top: 10px;
}

.ham-menu3 {
    top: 20px;
}

.ham-menu.open .ham-menu1 {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.ham-menu.open .ham-menu2 {
    opacity: 0;
}

.ham-menu.open .ham-menu3 {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.menu{
    position: relative;
    left: 88%;
    top: 65px;
}

.dropdown *{
    box-sizing: border-box;
}

.menu{
    list-style: none;
    padding: 0.5em 1em 1em 1em;
    background-color: #424242;
    position: absolute;
    color: white;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.2);
    font-family: "Poppins", sans-serif;
    font-weight: 570;
    width: 10%;
    opacity: 0;
    display: none;
    transition: .3s ease;
    z-index: 1;
    transition: 0.2s;   
    z-index: 1;
}

.ham-menu1:hover{
    background-color: green;
}
.ham-menu2:hover{
    background-color: white;
}
.ham-menu3:hover{
    background-color: red;
}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    transition: 0.30s;
}

.active{
    background: gray;
}

.menu-open{
    display: block;
    opacity: 1;
}

.dom1{
    text-align: center;
}

.p1{
    padding: 20px 0px 10px 10px;
}

.l1{
    background: gray;
}

.li1:hover{
    background-color: green;
}
.li11{
    text-decoration: none;
    color: white;
}

.l2{
    background: gray;
}

.li2:hover{
    background-color: white;
    color: black;
}

.l3{
    background: gray;
}

.li3:hover{
    background-color: red;
}

.chi{
    position: absolute;
    top: 170em;
    left: 50%;
    width: 30em;
    height: 20em;
    box-shadow: 0px 0px 1px #424242;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transform: translateX(-50%);
}

.chi:hover{
    transition: 0.3s;
    box-shadow: 0px 0px 10px #4242427e;
}

.title{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    position: absolute;
    top: 6em;
    right: 35em;
}

.subtitle{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.8em;
    text-align: center;
    position: absolute;
    top: 10em;
    right: 44.6em;
}

.l11{
    text-decoration: none;
    color: white;
}

.home{
    position: relative;
    left: 89%;
    top: 0.1em;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

.home::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.2em;
    bottom: -5px;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
    
}

.home:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: green;
}

.chi2{
    position: relative;
    left: 78%;
    top: 0.1em;
    color: rgb(80, 80, 80);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

.chi2::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.2em;
    bottom: -5px;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
    
}

.chi2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: green;
}

.contatti{
    position: relative;
    left: 66%;
    top: 0.1em;
    color: green;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

.contatti::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.2em;
    bottom: -5px;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
    
}

.contatti:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: green;
}   

.img1{
    width: 25em;
    height: 15em;
    position: absolute;
    top: 32em;
    left: 6em;
    border-radius: 20px;
    filter: brightness(50%);
    transition: 0.30s;
}
.img1:hover{
    filter: brightness(20%);
    transition: 0.30s;
}

.ser11{
    position: absolute;
    color: rgb(0, 185, 0);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 2em;
    top: 19.5em;
    left: 7.5em;
    transition: color 0.30s;
}

.img2{
    width: 25em;
    height: 15em;
    position: absolute;
    top: 32em;
    left: 46.5em;
    border-radius: 20px;
    filter: brightness(50%);
    transition: 0.30s;
}
.img2:hover{
    filter: brightness(20%);
    transition: 0.30s;
}

.lav22{
    position: absolute;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 2em;
    top: 19.5em;
    left: 26em;
    transition: color 0.30s;
}

.img3{
    width: 25em;
    height: 15em;
    position: absolute;
    top: 32em;
    left: 88em;
    border-radius: 20px;
    filter: brightness(40%);
    transition: 0.30s;
}
.img3:hover{
    filter: brightness(20%);
    transition: 0.30s;
}

.rec33{
    position: absolute;
    color: red;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 2em;
    top: 19.5em;
    left: 48em;
    transition: color 0.30s;
}

.f1{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    top: 105em;
}

.hidraulici{
    width: 50%;
    height: 20em;
    background: #333;
    position: relative;
    top: 52em;
    border-radius: 5em;
}

.idraulico{
    width: 30em;
    height: 18em;
    padding-top: 1em;
    padding-left: 1em;
    border-radius: 5em;
}

.def1{
   max-width: 40%;
   position: relative;
   bottom: 18em;
   left: 33em;
   color: white;
}

.elettrici{
    width: 50%;
    height: 20em;
    background: #333;
    position: relative;
    top: 58em;
    left: 59em;
    border-radius: 5em;
}

.elett{
    width: 30em;
    height: 18em;
    padding-top: 1em;
    padding-left: 1em;
    border-radius: 5em;
}

.def2{
   max-width: 40%;
   position: relative;
   bottom: 18em;
   left: 33em;
   color: white;
}

.pittura{
    width: 50%;
    height: 20em;
    background: #333;
    position: relative;
    top: 63em;
    border-radius: 5em;
}

.elett{
    width: 30em;
    height: 18em;
    padding-top: 1em;
    padding-left: 1em;
    border-radius: 5em;
}

.def3{
   max-width: 40%;
   position: relative;
   bottom: 18em;
   left: 33em;
   color: white;
}

.traslochi{
    width: 50%;
    height: 20em;
    background: #333;
    position: relative;
    top: 68em;
    left: 59em;
    border-radius: 5em;
}

.tras{
    width: 30em;
    height: 18em;
    padding-top: 1em;
    padding-left: 1em;
    border-radius: 5em;
}

.def4{
   max-width: 40%;
   position: relative;
   bottom: 18em;
   left: 33em;
   color: white;
}

.squadra{
    width: 6em;
    height: 6em;
    position: absolute;
    left: 2em;
    top: 0em;
}

.funziona{
    position: relative;
    top: 105em;
    max-width: 40em;
    left: 2em;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 1px #424242;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 500
}

.funziona:hover{
    transition: 0.3s;
    box-shadow: 0px 0px 10px #4242427e;
}

.h22{
    text-align: center;
}

.funziona2{
    position: relative;
    top: 88em;
    max-width: 40em;
    left: 68em;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 1px #424242;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 500
}

.funziona2:hover{
    transition: 0.3s;
    box-shadow: 0px 0px 10px #4242427e;
}

.h222{
    text-align: center;
}

.offerta{
    max-width: 25em;
    text-align: center;
    position: relative;
    top: 39.5em;
    left: 46em;
    background: red;
    color: white;
    border-radius: 1em; 
}

.offerta h3{
    font-size: 20px;
    position: relative;
    bottom: 0.5em;
}

.idra{
    position: relative; 
    left: 40em;
    bottom: 16em; 
    color: rgba(38, 190, 0, 0.74);
    font-weight: 600;
}

.idra2{
    position: relative;
    left: 42em;
    bottom: 15.5em;
    text-decoration: none;
    color: white;
    padding: 8px;
    background: rgb(179, 0, 0); 
    border-radius: 10px; 
    font-family: sans-serif; 
    font-weight: 600;
}

.ele{
    position: absolute;
    left: 40em; 
    bottom: 8em; 
    color: rgba(38, 190, 0, 0.74); 
    font-weight: 600;
}

.ele2{
    position: relative; 
    left: 42em; 
    bottom: 15.5em; 
    text-decoration: none; 
    color: white; 
    padding: 8px; 
    background: rgb(179, 0, 0); 
    border-radius: 10px; 
    font-family: sans-serif; 
    font-weight: 600;
}

.pit{
    position: relative; 
    left: 40em; 
    bottom: 16em; 
    color: rgba(38, 190, 0, 0.74); 
    font-weight: 600;
}

.pit2{
    position: relative; 
    left: 42em; 
    bottom: 15.5em; 
    text-decoration: none; 
    color: white; 
    padding: 8px; 
    background: rgb(179, 0, 0); 
    border-radius: 10px; 
    font-family: sans-serif; 
    font-weight: 600;
}

.tras{
    position: absolute;
    left: 22em; 
    top: 10.5em; 
    color: rgba(38, 190, 0, 0.74); 
    font-weight: 600;
    text-align: end;
}

.tras2{
    position: relative; 
    left: 41em; 
    bottom: 14em; 
    text-decoration: none; 
    color: white; 
    padding: 8px; 
    background: rgb(179, 0, 0); 
    border-radius: 10px; 
    font-family: sans-serif; 
    font-weight: 600;
}

@media only screen and (max-width: 600px){

    html,body{
        width: 100%;
        height: 250%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    .home{
        position: absolute;
        right: -2em;
        top: 1.5em;
        transform: translate(-100%, 0);
        color: rgb(255, 0, 0);
    }
    .menu{
        position: absolute;
        top: 3em;
        right: calc(0 + 35em);
        padding-right: 7em;
    }
    .chi2{
        visibility: collapse;
    }
    .contatti{
        visibility: collapse;
    }
    .ham-menu{
        position: absolute;
        right: 0em;
        top: 2em;
        width: 2em;
        transform: translate(-100%, 0);
    }
    .squadra{
        width: 5em;
        height: 5em;
        position: absolute;
        top: 0.5em;
    }
    .img1 {
        position: absolute;
        top: 15em;
        left: 50%;
        width: 20em;
        height: 12em;
        transform: translate(-50%, -50%);
    }
    .ser11 {
        position: absolute;
        left: 50%;
        top: 9em;
        font-size: 1.7em;
        transform: translate(-50%, -50%);
    }
    .img2 {
        position: absolute;
        top: 22em;
        left: 50%;
        width: 20em;
        height: 12em;
        transform: translate(-50%, 0);
    }
    .lav22 {
        position: absolute;
        left: 50%;
        top: 16.5em;
        font-size: 1.7em;
        transform: translate(-50%, -50%);
    }
    .img3 {
        position: absolute;
        top: 35em;
        left: 50%;
        width: 20em;
        height: 12em;
        transform: translate(-50%, 0);
    }
    .rec33 {
        position: absolute;
        left: 50%;
        top: 24.5em;
        font-size: 1.7em;
        transform: translate(-50%, -50%);
    }
    .offerta{
        visibility: collapse;
    }

    .hidraulici {
        position: absolute;
        left: 50%;
        width: 25em;
        transform: translate(-50%, 0);
    }
    .idraulico {
        visibility: collapse;
    }
    .def1 {
        position: absolute;
        left: 0em;
        top: 1em;
        max-width: 23em;
        transform: translate(5%, 0);
    }
    .idra {
        position: absolute;
        left: 50%;
        top: 10em;
        transform: translate(-50%, 0);
    }
    .idra2 {
        position: absolute;
        left: 50%;
        top: 13em;
        padding-bottom: 25px;
        transform: translate(-50%, 0);
    }

    .elettrici{
        width: 25em;
        position: absolute;
        left: 50%;
        padding-bottom: 0em;
        top: 75em;
        transform: translate(-50%, 0);
    }

    .elett{
        visibility: collapse;
    }

    .def2{
        position: absolute;
        left: 2em;
        top: 1em;
        max-width: 23em;
    }

    .ele{
        position: absolute;
        left: 8em;
        top: 10em;
    }
    
    .ele2{
        position: absolute;
        left: 10em;
        top: 13em;
        padding-bottom: 25px;
    }

    .pittura{
        position: absolute;
        top: 98em;
        width: 25em;
        position: absolute;
        left: 50%;
        padding-bottom: 0em;
        transform: translate(-50%, 0);
    }

    .def3{
        position: absolute;
        left: 2em;
        top: 1em;
        max-width: 23em;
    }
    
    .pit{
        position: absolute;
        left: 8em;
        top: 12em;
    }

    .pit2{
        position: absolute;
        left: 10em;
        top: 15em;
        padding-bottom: 25px;
    }

    .traslochi{
        position: absolute;
        top: 121em;
        width: 25em;
        left: 50%;
        padding-bottom: 0em;
        transform: translate(-50%, 0);
    }

    .def4{
        position: absolute;
        left: 2em;
        top: 1em;
        max-width: 22em;
    }

    .tras{
        position: absolute;
        left: -11.5em;
        top: 12em;
    }

    .tras2{
        position: absolute;
        left: 7.5em;
        top: 16em;
        padding-bottom: 25px;
    }

    .chi{
        background: rgb(204, 204, 204);
        width: 17em;
        position: relative;
        left: 50%;
        top: 130em;
        transform: translate(-50%, 0);
    }

    .funziona{
        background: rgb(204, 204, 204);
        width: 17em;
        position: relative;
        left: 50%;
        top: 132em;
        transform: translate(-50%, 0);
    }

    .funziona2{
        background: rgb(204, 204, 204);
        width: 17em;
        position: absolute;
        left: 50%;
        top: 198em;
        transform: translate(-50%, 0);
    }

    .f1{
        position: absolute;
        top: 232em;
        transform: translate(0em, 0);
        padding-left: 5.2em;
        padding-right: 5.2em;
    }
}

@media screen and (max-width: 900px) and (min-width: 600px){
    html,body{
        width: 100%;
        height: 179%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    .home{
        position: absolute;
        right: 0;
        top: 1.5em;
        transform: translate(-100%, 0);
        color: rgb(255, 0, 0);
    }
    .menu{
        position: absolute;
        top: 3em;
        right: calc(0 + 35em);
        padding-right: 7em;
    }
    .chi2{
        visibility: collapse;
    }
    .contatti{
        visibility: collapse;
    }
    .ham-menu{
        position: absolute;
        right: 0em;
        top: 2em;
        width: 2em;
        transform: translate(-100%, 0);
    }
    .squadra{
        width: 5em;
        height: 5em;
        position: absolute;
        top: 0.5em;
    }
    .img1 {
        position: absolute;
        top: 15em;
        left: 50%;
        width: 20em;
        height: 12em;
        transform: translate(-50%, -50%);
    }
    .ser11 {
        position: absolute;
        left: 50%;
        top: 9em;
        font-size: 1.7em;
        transform: translate(-50%, -50%);
    }
    .img2 {
        position: absolute;
        top: 22em;
        left: 50%;
        width: 20em;
        height: 12em;
        transform: translate(-50%, 0);
    }
    .lav22 {
        position: absolute;
        left: 50%;
        top: 16.5em;
        font-size: 1.7em;
        transform: translate(-50%, -50%);
    }
    .img3 {
        position: absolute;
        top: 35em;
        left: 50%;
        width: 20em;
        height: 12em;
        transform: translate(-50%, 0);
    }
    .rec33 {
        position: absolute;
        left: 50%;
        top: 24.5em;
        font-size: 1.7em;
        transform: translate(-50%, -50%);
    }
    .offerta{
        visibility: collapse;
    }

    .hidraulici {
        position: absolute;
        left: 50%;
        width: 25em;
        transform: translate(-50%, 0);
    }
    .idraulico {
        visibility: collapse;
    }
    .def1 {
        position: absolute;
        left: 0em;
        top: 1em;
        max-width: 23em;
        transform: translate(5%, 0);
    }
    .idra {
        position: absolute;
        left: 50%;
        top: 10em;
        transform: translate(-50%, 0);
    }
    .idra2 {
        position: absolute;
        left: 50%;
        top: 13em;
        padding-bottom: 25px;
        transform: translate(-50%, 0);
    }

    .elettrici{
        width: 25em;
        position: absolute;
        left: 0.5em;
        padding-bottom: 0em;
        top: 75em;
    }

    .elett{
        visibility: collapse;
    }

    .def2{
        position: absolute;
        left: 2em;
        top: 1em;
        max-width: 23em;
    }

    .ele{
        position: absolute;
        left: 8em;
        top: 10em;
    }
    
    .ele2{
        position: absolute;
        left: 10em;
        top: 13em;
        padding-bottom: 25px;
    }

    .pittura{
        position: absolute;
        top: 98em;
        width: 25em;
        position: absolute;
        left: 0.5em;
        padding-bottom: 0em;
    }

    .def3{
        position: absolute;
        left: 2em;
        top: 1em;
        max-width: 23em;
    }
    
    .pit{
        position: absolute;
        left: 8em;
        top: 12em;
    }

    .pit2{
        position: absolute;
        left: 10em;
        top: 15em;
        padding-bottom: 25px;
    }

    .traslochi{
        position: absolute;
        top: 121em;
        width: 25em;
        left: 0.5em;
        padding-bottom: 0em;
    }

    .def4{
        position: absolute;
        left: 2em;
        top: 1em;
        max-width: 22em;
    }

    .tras{
        position: absolute;
        left: -11.5em;
        top: 12em;
    }

    .tras2{
        position: absolute;
        left: 7.5em;
        top: 16em;
        padding-bottom: 25px;
    }

    .chi{
        background: rgb(204, 204, 204);
        width: 17em;
        position: relative;
        left: 12.5em;
        top: 130em;
    }

    .funziona{
        background: rgb(204, 204, 204);
        width: 17em;
        position: relative;
        left: 0em;
        top: 135em;
    }

    .funziona2{
        background: rgb(204, 204, 204);
        width: 17em;
        position: relative;
        left: 0em;
        top: 140em;
    }

    .f1{
        position: relative;
        top: 150em;
    }
}
