#usersList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
    padding: 15px;
    font-family: "poppins", sans-serif;
    font-weight: 560;
}

#usersList div {
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.30s;  
}

#usersList div:hover{
    box-shadow: 0px 0px 30px rgba(175, 0, 0, 0.664);
    transition: 0.3s;
}

#usersList strong {
    color: #575757;
}

.chiama{
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    background: rgba(6, 170, 0, 0.651);
    color: white;
    font-family: "poppins", sans-serif;
    font-weight: 560;
    position: relative;
    left: 0em;
    top: 0.5em;
    transition: 0.3s;
}

.chiama:hover{
    background: rgb(4, 116, 0);
    transition: 0.3s;
}

/* Modal styling */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.modal-content {
    position: absolute;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 97.8%;
    height: 85.8%;
    max-width: 100%;
    top: -13em;
}



/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Worker details container */
#workerDetails {
    margin-bottom: 20px; /* Space between worker details and images */
}

/* Work images container */
#workImagesContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 60%; /* Full width within the modal-content */
    position: relative;
    left: 0%;
    top: 10em;
}

/* Images in work images container */
#workImagesContainer img {
    height: 140px;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s;
}

#workImagesContainer img:hover {
    transform: scale(1.1);
}

.workImages{
    left: 100em;
}

.worker-photo {
    max-width: 200px;
    border-radius: 50%;
    position: relative;
    left: 38em;
    bottom: 6em;
}

@media only screen and (max-width: 1743px) and (min-width: 1200px){
    .modal-content {
        position: relative;
        margin: 0% auto;
        top: 5em; 
    }

    .modal {
        top: 0em;
    }

    #workImagesContainer{
        top: 0em;
        width: 58em;
    }

    .chiama {
        position: relative;
        left: 0em;
        top: 0.5em;
    }

    .worker-photo{
        top: -5em;
        left: 38em;
    }
}

@media only screen and (max-width: 1200px) {
    #usersList {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
    .modal-content {
        position: relative;
        margin: 0% auto;
        top: 5em; 
    }

    .modal {
        top: 0em;
    }

    #workImagesContainer{
        top: 10em;
        width: 58em;
    }

    .chiama {
        position: relative;
        left: 0em;
        top: 0.5em;
    }

    .worker-photo{
        top: -5em;
        left: 30em;
    }
}

@media only screen and (max-width: 992px) {
    #usersList {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
    .modal-content {
        position: relative;
        margin: 0% auto;
        top: 5em; 
    }

    .modal {
        top: 0em;
    }

    #workImagesContainer{
        top: 10em;
        width: 48em;
    }

    .chiama {
        position: relative;
        left: 0em;
        top: 0.5em;
    }

    .worker-photo{
        top: -5em;
        left: 30em;
    }
}

@media only screen and (max-width: 768px) {
    #usersList {
        grid-template-columns: 1fr; /* 1 column */
    }

    .modal-content {
        position: relative;
        margin: 0% auto;
        top: 5em; 
    }

    .modal {
        top: 0em;
    }

    #workImagesContainer{
        top: 10em;
        width: 22em;
    }

    .chiama {
        position: relative;
        left: 0em;
        top: 0.5em;
    }

    .worker-photo{
        top: 2em;
        left: 0em;
    }
}
